body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

img {
	border: 5px solid black;
}

.ImageBorder
{
    border-width: 10px;
    border-color: black;
}


.borderexample {
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
}
