body {
  background-color: lightblue;
}

h1 {
  color: navy;
	text-align: center;
}

img {
	border: 5px solid black;
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 90%;
	
}

.ImageBorder
{
    border-width: 10px;
    border-color: black;
	padding: 0px;
}


.borderexample {
 border-width:3px;
 border-style:solid;
 border-color:green;
}

#margincenter {
	padding: 0;
    display: block;
    margin: 0 auto;
	text-align: center;
}
